@*@model  SurveyAppClassLibrary.Models.Client*@

@using (Html.BeginForm("CreateNewClient", "User", FormMethod.Get))
{<h2>Add a New Client</h2>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input name="FirstName" type="text" class="form-control" id="" aria-describedby="" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input name="LastName" type="text" class="form-control" id="" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input name="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="zip">Zip Code</label>
        <input name="ZipCode" type="number" class="form-control" id="" placeholder="Zip">
    </div>
    <button type="submit">Submit</button>
}
